<h1>Hi, <%= @user.name %>!</h1>

<h2>Ride Overview</h2>
<ul>
    <li>Mood: <%= @user.mood%></li>
    <li>Nausea: <%= @user.nausea%></li>
    <li>Happiness: <%= @user.happiness%></li>
    <li>Height: <%= @user.height%></li>
    <li>Tickets: <%= @user.tickets%></li>
</ul>