<h1>Hi, <%= @user.name %>!</h1>

<% if @user.admin %>
    <p>ADMIN</p>
<% end %>

<br>

<h2>Ride Overview</h2>
<ul>
    <li>Mood: <%= @user.mood%></li>
    <li>Nausea: <%= @user.nausea%></li>
    <li>Happiness: <%= @user.happiness%></li>
    <li>Height: <%= @user.height%></li>
    <li>Tickets: <%= @user.tickets%></li>
</ul>
<br>
<%= link_to "Log Out", signout_path, method: :post%>

